.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #fff;
	height: 68px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	width: 100%;
	transition: 0.6s ease;
	@media (min-width: 1000px) {
		padding: 0 30px;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
	a {
		color: var(--c-base);
		transition: 0.3s ease;
	}
	&.white {
		background: var(--c-base);
		a {
			color: #fff;
		}
		.logo [fill='#131414'] {
			fill: #fff;
		}
		.burger rect {
			fill: #fff;
		}
	}
}

.logo [fill='#131414'],
.burger rect {
	transition: 0.3s ease;
}
.spacer {
	flex-grow: 1;
}
.phone,
.text {
	font-size: 16px;
	font-weight: 600;
	display: none;
	@media (min-width: 1000px) {
		display: inline-block;
	}
}
.text {
	font-weight: 500;
	margin-right: 58px;
}
.phone {
	margin-left: 32px;
}
.logo {
	display: flex;
}
.burger {
	padding: 0;
	background: transparent;
	margin-left: 42px;
	display: flex;
}
