.wrapper {
	background-color: #fff;
	padding-top: 130px;
	@media (min-width: 1000px) {
		padding-top: 180px;
	}
}
.inner {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 0 16px;
	@media (min-width: 1000px) {
		padding: 0;
	}
}
.backIcon {
	position: relative;
	width: 50px;
	height: 13px;
	display: block;
	transform: rotate(180deg);
	margin-right: 12px;
}
.back {
	padding: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
}
.title {
	font-weight: 600;
	font-size: 28px;
	margin: 36px 0;
	@media (min-width: 1000px) {
		font-size: 40px;
	}
}
.content {
	margin-top: 36px;
	margin-bottom: 36px;
	img {
		margin: 0 auto;
	}
}
.avatar {
	width: 40px;
	height: 40px;
	object-fit: cover;
	flex-shrink: 0;
	border-radius: 999px;
	margin-right: 10px;
}
.author {
	display: flex;
	align-items: center;
	margin-bottom: 28px;
	@media (min-width: 1000px) {
		margin-bottom: 0;
	}
}
.authorName {
	font-size: 16px;
	font-weight: 500;
}
.date {
	font-size: 14px;
	font-weight: 400;
	color: var(--c-grey);
}
.row {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@media (min-width: 1000px) {
		align-items: center;
		flex-direction: row;
	}
}
.socials {
	display: flex;
	flex-direction: column;
	@media (min-width: 1000px) {
		align-items: center;
		flex-direction: row;
	}
	p {
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 14px;
		@media (min-width: 1000px) {
			font-size: 16px;
			margin-right: 20px;
			margin-bottom: 0;
		}
	}
}
.social {
	display: inline-block;
	&:not(&:first-child) {
		margin-left: 16px;
	}
}
