.wrapper {
	background-color: var(--c-orange);
	display: flex;
	align-items: center;
	padding: 70px 16px;
	position: relative;
	@media (min-width: 1000px) {
		padding: 30px 0;
	}
}
.title {
	font-weight: 600;
	color: #fff;
	font-size: 28px;
	margin-bottom: 52px;
	@media (min-width: 1000px) {
		font-size: 40px;
		margin-bottom: 24px;
	}
}
.inner {
	width: 100%;
	position: relative;
	z-index: 1;
	@media (min-width: 1000px) {
		margin-left: 70px;
		max-width: 490px;
	}
}
.img {
	position: absolute;
	left: 50%;
	height: 100%;
	transform: translateX(-50%);
	@media (min-width: 1000px) {
		position: static;
		margin-left: 30px;
		width: 50%;
		transform: none;
		height: auto;
	}
}
.input {
	display: block;
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 14px;
	margin-bottom: 52px;
	@media (min-width: 1000px) {
		margin-bottom: 24px;
	}
	&::placeholder {
		color: rgba(#fff, 0.6);
	}
}
.btn {
	background: var(--c-base);
	width: 100%;
	height: 56px;
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	max-width: 286px;
}
