.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
	&:global(.show-modal) {
		opacity: 1;
		visibility: visible;
	}
}
.wrapper {
	background-color: #fff;
	max-width: 580px;
	width: 100%;
	padding: 20vh 20px 20px;
	position: relative;
	z-index: 2;
	height: 100%;
	overflow-y: auto;
	@media (min-width: 1000px) {
		padding: 65px 45px 40px;
		border-radius: 20px;
		height: auto;
	}
}
.success {
	opacity: 0;
	visibility: hidden;
	&:global(.show-success) {
		opacity: 1;
		visibility: visible;
	}
}
.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#000, 0.5);
}
.closeBtn {
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 0;
	background-color: transparent;
}
.title {
	font-weight: 600;
	margin-bottom: 24px;
	text-align: center;
	font-size: 30px;
	@media (min-width: 1000px) {
		font-size: 40px;
	}
}
.input {
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--c-grey);
	padding-bottom: 14px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 24px;
	&::placeholder {
		color: #b6c2ba;
	}
}
.btn,
.outlineBtn {
	width: 300px;
	height: 56px;
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	margin: 0 auto;
}
.btn {
	background: var(--c-orange);
	color: #fff;
}
.outlineBtn {
	border: 1px solid var(--c-orange);
	color: var(--c-orange);
	background: transparent;
	margin-top: 55px;
}
.text {
	font-size: 18px;
	font-weight: 400;
	max-width: 370px;
	text-align: center;
	margin: 0 auto;
	margin-top: 14px;
}
.sub {
	max-width: 460px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: var(--c-grey);
	margin-top: 35px;
}
