.img {
	height: 250px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	display: block;
}
.author {
	display: flex;
	align-items: center;
}
.name {
	font-size: 16px;
	font-weight: 500;
}
.row {
	display: flex;
	align-items: center;
	margin: 18px 0;
}
.heading {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 27px;
}
.category {
	font-size: 16px;
	font-weight: 500;
	margin-right: 12px;
	color: var(--c-orange);
}
.date {
	font-size: 16px;
	font-weight: 400;
	color: var(--c-grey);
}
.avatar {
	margin-right: 10px;
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 999px;
}
