.wrapper {
	background-color: #fff;
	padding-top: 150px;
	@media (min-width: 1000px) {
		padding-top: 190px;
	}
}
.inner {
	padding: 0 16px 110px;
	@media (min-width: 1000px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media (min-width: 1500px) {
		padding-left: 154px;
		padding-right: 154px;
	}
}
.nav {
	max-width: 946px;
	display: flex;
}
.btn {
	background-color: transparent;
	font-weight: 500;
	border-bottom: 2px solid #b6c2ba;
	white-space: nowrap;
	transition: 0.4s ease;
	color: #b6c2ba;
	padding: 0 0 5px;
	font-size: 12px;
	flex-grow: 1;
	@media (min-width: 700px) {
		font-size: 20px;
	}
	@media (min-width: 1000px) {
		padding: 0 100px 5px;
	}
	&:hover {
		color: var(--c-orange);
		border-color: var(--c-orange);
	}
}
.btnActive {
	color: var(--c-orange);
	border-color: var(--c-orange);
}
.title {
	font-size: 36px;
	margin-bottom: 28px;
	font-weight: 600;
	@media (min-width: 1000px) {
		font-size: 64px;
		margin-bottom: 48px;
	}
}
.grid {
	display: grid;
	grid-gap: 28px;
	margin-top: 28px;
	@media (min-width: 700px) {
		margin-top: 40px;
		grid-template-columns: 1fr 1fr;
		grid-gap: 44px;
	}
	@media (min-width: 1600px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.item {
	overflow: hidden;
	border-radius: 14px;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.04);
}
.itemInner {
	padding: 15px 24px 28px;
}
.heading {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 24px;
}
.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 24px;
}
.icon {
	width: 28px;
	height: 28px;
	border-radius: 999px;
	border: 1px solid var(--c-orange);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 14px;
}
.link {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: var(--c-orange);
}
.sub {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 4px;
}
.text {
	font-size: 14px;
	font-weight: 400;
	color: var(--c-grey);
}
.img {
	overflow: hidden;
	position: relative;
	height: 276px;
}
