.wrapper {
	background: #fff;
	border-radius: 20px;
	padding: 40px 16px 10px;
	@media (min-width: 1000px) {
		border-radius: 20px 0 0 20px;
		padding: 0;
		padding-bottom: 44px;
		margin: 160px 0 110px 54px;
	}
	@media (min-width: 1500px) {
		margin: 160px 0 110px 180px;
	}
}
.heading {
	font-weight: 500;
	max-width: 500px;
	font-size: 18px;
	@media (min-width: 1000px) {
		font-size: 28px;
	}
}
.value {
	font-weight: 700;
	line-height: 1;
	font-size: 40px;
	@media (min-width: 1000px) {
		font-size: 80px;
		margin-right: 25px;
	}
	&.big {
		color: var(--c-orange);
		font-size: 64px;
		margin-right: 10px;
		@media (min-width: 1000px) {
			font-size: 128px;
			margin-right: 0;
		}
	}
}
.top,
.mid,
.bot,
.block,
.col {
	display: flex;
}
.top {
	align-items: center;
}
.bot,
.mid {
	@media (min-width: 1000px) {
		padding-left: 28px;
	}
}
.mid {
	margin-top: 40px;
	margin-bottom: 58px;
}
.top,
.mid {
	flex-direction: column;
	@media (min-width: 1000px) {
		flex-direction: row;
	}
}
.bot {
	flex-wrap: wrap;
	@media (min-width: 1000px) {
		flex-wrap: nowrap;
	}
}
.block {
	display: flex;
	align-items: center;
	@media (min-width: 1000px) {
		align-items: flex-start;
		margin-right: 65px;
	}
}
.col {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	@media (min-width: 1000px) {
		width: auto;
		margin-bottom: 0;
		flex-direction: row;
		&:not(&:last-child) {
			margin-right: 124px;
		}
	}
}
.video_wrp {
	position: relative;
	z-index: 1;
	background: #eee;
	border-radius: 10px;
	width: 100%;
	height: 220px;
	margin-bottom: 32px;
	@media (min-width: 1000px) {
		border-radius: 14px;
		width: 660px;
		height: 376px;
		margin-right: 10px;
		margin-bottom: 0;
		transform: translate(-26px, -23px);
	}
	@media (min-width: 1500px) {
		margin-right: 68px;
	}
}
.text {
	font-weight: 500;
	max-width: 600px;
	font-size: 14px;
	@media (min-width: 1000px) {
		font-size: 20px;
	}
}
.sub {
	font-weight: 500;
	line-height: 1;
	font-size: 14px;
	@media (min-width: 1000px) {
		font-size: 18px;
	}
}
