.wrapper {
	background: var(--c-base);
	min-height: 100vh;
	padding-top: 110px;
	padding-bottom: 26px;
	@media (min-width: 1000px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media (min-width: 1500px) {
		padding-top: 150px;
		padding-bottom: 140px;
	}
}
.inner {
	position: relative;
	z-index: 2;
	padding: 0 16px;
	@media (min-width: 1000px) {
		padding: 0 30px;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.row {
	display: flex;
	max-width: 722px;
	justify-content: space-between;
	margin-top: 110px;
	flex-wrap: wrap;
	@media (min-width: 1000px) {
		flex-wrap: nowrap;
	}
}
.noise {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}
.bg {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 40vw;
}
.value,
.text,
.title,
.title2,
.sub {
	color: #fff;
}
.value {
	font-weight: 700;
	font-size: 40px;
	line-height: 46px;
	@media (min-width: 1000px) {
		font-size: 56px;
		line-height: 65px;
	}
}
.col {
	position: relative;
	padding-left: 14px;
	width: 50%;
	margin-top: 60px;
	@media (min-width: 1000px) {
		width: auto;
		margin-top: 0;
	}
	&:before {
		content: '';
		width: 3px;
		height: 80px;
		border-radius: 32px;
		position: absolute;
		left: 0;
		top: 0;
		background: var(--c-orange);
	}
}
.sub {
	font-size: 14px;
	font-weight: 400;
	@media (min-width: 1000px) {
		font-size: 16px;
	}
}
.text {
	font-size: 20px;
	font-weight: 400;
	max-width: 509px;
	margin-bottom: 16px;
}
.title {
	font-size: 40px;
	font-weight: 700;
	line-height: 46px;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
	@media (min-width: 1000px) {
		margin-bottom: 50px;
		font-size: 100px;
		line-height: 1.4;
	}
	@media (min-width: 1500px) {
		margin-bottom: 50px;
		font-size: 128px;
		line-height: 148px;
	}
}
.down {
	padding: 0;
	display: block;
	text-align: center;
	background: transparent;
	position: relative;
	z-index: 10;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	margin: 0 auto;
	margin-top: 76px;
	@media (min-width: 1000px) {
		position: absolute;
		right: 80px;
		bottom: 0px;
	}
	@media (min-width: 1400px) {
		font-size: 16px;
		max-width: 120px;
		bottom: 100px;
		margin: 0;
	}
}
.downIcon {
	width: 76px;
	height: 76px;
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 12px;
	@media (min-width: 1400px) {
		width: 120px;
		height: 120px;
	}
}
