.wrapper {
	background-color: #fff;
	padding: 36px 16px 56px;
	border-radius: 20px 20px 0 0;
	@media (min-width: 1000px) {
		border-radius: 0;
		margin-top: 100px;
		padding: 50px 30px 100px;
	}
	@media (min-width: 1500px) {
		padding: 50px 154px 100px;
	}
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 38px;
	@media (min-width: 1000px) {
		margin-bottom: 42px;
	}
}
.title {
	font-weight: 700;
	font-size: 28px;
	@media (min-width: 1000px) {
		font-size: 40px;
	}
}
.grid {
	display: grid;
	grid-gap: 36px;
	@media (min-width: 1000px) {
		grid-gap: 50px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
