.title {
	text-align: center;
	font-weight: 700;
	margin-bottom: 28px;
	font-size: 28px;
	@media (min-width: 1000px) {
		margin-bottom: 40px;
		font-size: 40px;
	}
}
.wrapper {
	padding: 60px 16px 100px;
	@media (min-width: 1000px) {
		margin: 100px 0;
		padding: 0 30px;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.grid {
	display: grid;
	grid-gap: 28px;
	@media (min-width: 1000px) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 38px;
	}
}
.col {
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 2px 16px 2px rgba(33, 61, 75, 0.04);
	padding: 24px 0 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&.orange {
		background: linear-gradient(161.15deg, #f38c25 12.73%, #fb6848 72.95%);
		box-shadow: 0px 5px 25px rgba(255, 119, 7, 0.3);
		* {
			color: #fff;
		}
		.btn {
			background: #fff;
			color: var(--c-orange);
		}
	}
}
.heading {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 24px;
}
.price {
	font-weight: 700;
	margin-bottom: 24px;
	font-size: 40px;
	@media (min-width: 1000px) {
		font-size: 48px;
	}
	span {
		font-size: 18px;
		font-weight: 600;
	}
}
.list li {
	font-size: 14px;
	font-weight: 400;
	color: var(--c-grey);
	margin-bottom: 14px;
}
.btn {
	width: 230px;
	height: 56px;
	background: var(--c-base);
	color: #fff;
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	margin-top: 24px;
}
