.wrapper {
	padding: 50px 16px 73px;
	@media (min-width: 1000px) {
		margin-top: 66px;
		margin-bottom: 150px;
		padding: 0 30px;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.title {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 80px;
	@media (min-width: 1000px) {
		font-size: 40px;
		margin-bottom: 66px;
	}
}
.slider {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 2px 6px 2px rgba(33, 61, 75, 0.02);
}
.pagination {
	position: static;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.bullet {
	width: auto;
	height: auto;
	opacity: 1;
	background-color: transparent;
	display: flex;
	align-items: center;
	font-weight: 600;
	color: var(--c-grey);
	transition: 0.3s ease;
	font-size: 14px;
	@media (min-width: 1000px) {
		font-size: 20px;
	}
	&:not(&:last-child) {
		margin-right: 20px;
		@media (min-width: 1000px) {
			margin-right: 64px;
		}
	}
	svg {
		margin-left: 8px;
		width: 16px;
		height: 16px;
		transform: rotate(-90deg);
	}
	&:global(.swiper-pagination-bullet-active) {
		color: var(--c-orange);
	}
}
.slide {
	padding: 20px 16px;
	overflow: hidden;
	min-height: 411px;
	@media (min-width: 1000px) {
		display: flex;
		align-items: flex-start;
		padding: 32px;
		min-height: 276px;
	}
}
.heading {
	font-size: 24px;
	font-weight: 700;
	@media (min-width: 1000px) {
		font-size: 36px;
	}
}
.inner {
	@media (min-width: 1000px) {
		padding-left: 135px;
	}
}
.sub {
	font-weight: 500;
	margin-bottom: 18px;
	font-size: 18px;
	@media (min-width: 1000px) {
		font-size: 28px;
	}
}
.text {
	font-size: 16px;
	font-weight: 400;
	max-width: 660px;
}
.count {
	font-weight: 700;
	color: var(--c-orange);
	font-size: 200px;
	line-height: 0.8;
	display: block;
	text-align: right;
	transform: translate(30px, 25px);
	@media (min-width: 1000px) {
		font-size: 238px;
		position: absolute;
		right: -20px;
		top: 50%;
		transform: translateY(-50%);
	}
}
