.wrapper {
	padding: 0 16px 60px;
	@media (min-width: 1000px) {
		margin: 150px 0;
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 730px;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.title,
.case {
	@media (min-width: 1000px) {
		width: calc(50% - 20px);
	}
}
.title {
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 28px;
	@media (min-width: 1000px) {
		font-size: 40px;
		margin-bottom: 40px;
	}
}
.case {
	margin-bottom: 40px;
	background: #fff;
	border-radius: 14px;
	box-shadow: 0px 2px 6px 2px rgba(33, 61, 75, 0.02);
	display: flex;
	overflow: hidden;
	position: relative;
	flex-direction: column-reverse;
	@media (min-width: 1000px) {
		flex-direction: row;
		height: 276px;
		&:nth-of-type(odd) {
			margin-right: 40px;
		}
	}
}
.info {
	display: flex;
	flex-direction: column;
	padding: 20px 16px;
	@media (min-width: 1000px) {
		padding: 28px 13px 28px 26px;
	}
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 14px;
	margin-top: 24px;
	margin-bottom: 40px;
	@media (min-width: 1000px) {
		margin-bottom: 20px;
		margin-top: 14px;
	}
}
.link {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: var(--c-orange);
	margin-top: auto;
}
.heading {
	font-size: 14px;
	font-weight: 500;
}
.icon {
	width: 28px;
	height: 28px;
	margin-right: 14px;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--c-orange);
}
.name {
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
}
.img {
	height: 250px;
	object-fit: cover;
	@media (min-width: 1000px) {
		margin-left: auto;
		width: 50%;
		height: 100%;
	}
}
.more {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	@media (min-width: 1000px) {
		padding-right: 40px;
	}
	span {
		color: var(--c-orange);
		font-size: 18px;
		font-weight: 500;
		margin-right: 12px;
	}
}
.text {
	font-size: 14px;
	font-weight: 400;
	color: var(--c-grey);
}
