.wrapper {
	background: var(--c-base);
	padding-top: 44px;
	@media (min-width: 1000px) {
		padding-top: 0;
	}
}
.logo [fill='#131414'] {
	fill: #fff;
}
.header {
	display: flex;
	padding: 0 16px;
	padding-bottom: 70px;
	flex-direction: column;
	@media (min-width: 1000px) {
		padding-bottom: 0;
		height: 76px;
		align-items: center;
		padding: 0 30px;
		flex-direction: row;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.nav {
	margin-top: 48px;
	@media (min-width: 1000px) {
		margin-top: 0;
		margin-left: auto;
	}
	a {
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 24px;
		display: inline-block;
		width: 50%;
		@media (min-width: 1000px) {
			margin-bottom: 0;
			width: auto;
		}
		&:not(&:first-child) {
			@media (min-width: 1000px) {
				margin-left: 62px;
			}
		}
	}
}
.map {
	height: 384px;
	background: #eee;
	width: 100%;
	@media (min-width: 1000px) {
		margin-left: auto;
		width: 50%;
	}
}
.info {
	padding: 0 16px;
	padding-bottom: 58px;
	@media (min-width: 1000px) {
		padding-left: 30px;
		padding-right: 0;
		padding-bottom: 0;
	}
	@media (min-width: 1500px) {
		padding-left: 154px;
	}
}
.inner {
	display: flex;
	flex-direction: column;
	@media (min-width: 1000px) {
		align-items: center;
		flex-direction: row;
	}
}
.phone {
	font-weight: 600;
	color: var(--c-orange);
	font-size: 32px;
	@media (min-width: 1000px) {
		font-size: 48px;
	}
}
.text {
	color: #fff;
	font-weight: 500;
	margin-top: 24px;
	max-width: 370px;
	font-size: 18px;
	@media (min-width: 1000px) {
		margin-top: 30px;
		font-size: 24px;
	}
}
.socials {
	margin-top: 30px;
}
.bot {
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px 16px;
	@media (min-width: 1000px) {
		padding: 0 30px;
		height: 50px;
		flex-direction: row;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.sub {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	&:not(&:first-child) {
		margin-top: 18px;
		@media (min-width: 1000px) {
			margin-top: 0;
		}
	}
}
.social {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 999px;
	&:not(&:last-child) {
		margin-right: 24px;
	}
}
