.top,
.footer {
	padding: 0 16px;
	@media (min-width: 1000px) {
		padding: 0 30px;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.top {
	display: flex;
	padding-top: 130px;
	padding-bottom: 45px;
	flex-direction: column;
	@media (min-width: 1000px) {
		align-items: center;
		padding-top: 190px;
		padding-bottom: 180px;
		flex-direction: row;
	}
}
.map {
	background: #eee;
	height: 380px;
	@media (min-width: 1000px) {
		height: 420px;
	}
}
.email,
.phone {
	display: block;
	font-size: 28px;
	font-weight: 600;
	@media (min-width: 1000px) {
		font-size: 36px;
	}
}
.email {
	color: var(--c-orange);
}
.phone {
	margin: 24px 0;
	@media (min-width: 1000px) {
		margin: 36px 0;
	}
}
.socials {
	display: flex;
}
.social {
	margin-right: 24px;
}
.btn {
	width: 245px;
	height: 245px;
	border-radius: 999px;
	background: var(--c-orange);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin: 30px auto 0;
	@media (min-width: 1000px) {
		font-size: 24px;
		margin: 0;
	}
}
.footer {
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 20px 16px;
	p {
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		&:not(&:first-child) {
			margin-top: 18px;
			@media (min-width: 1000px) {
				margin-top: 0;
			}
		}
	}
	@media (min-width: 1000px) {
		padding: 0 30px;
		height: 50px;
		flex-direction: row;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.title {
	font-weight: 600;
	line-height: 1.2;
	font-size: 36px;
	margin-bottom: 62px;
	@media (min-width: 1500px) {
		font-size: 64px;
		margin-bottom: 0;
	}
}
.col {
	flex-grow: 1;
	display: flex;
	@media (min-width: 1000px) {
		justify-content: center;
	}
}
