.wrapper {
	position: relative;
	padding: 60px 0 20px;
	@media (min-width: 1000px) {
		padding: 70px 0 30px;
	}
}
.img {
	position: relative;
	height: 210px;
	@media (min-width: 1000px) {
		height: 450px;
	}
}
.slide {
	transition: 0.3s ease;
	opacity: 0.4;
	@media (min-width: 1000px) {
		width: 50vw;
	}
	&:global(.swiper-slide-active) {
		opacity: 1;
	}
}
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.navArrow {
	padding: 0;
	background-color: transparent;
}
.navPrev {
	display: block;
	transform: rotate(180deg);
}
.pagination {
	width: auto;
	position: static;
	margin: 0 24px;
	font-size: 24px;
	font-weight: 600;
	:global(.swiper-pagination-current) {
		color: var(--c-orange);
	}
}
.galleryPrev,
.galleryNext {
	position: absolute;
	top: 50%;
	z-index: 4;
	padding: 0;
	background-color: transparent;
	display: none;
	@media (min-width: 1000px) {
		display: flex;
	}
}
.galleryPrev {
	left: 21%;
}
.galleryNext {
	right: 21%;
}
.galleryNextIcon {
	transform: rotate(180deg);
	display: flex;
}
