.wrapper {
	background-color: #fff;
	display: flex;
	flex-direction: column-reverse;
	padding: 100px 16px 30px;
	@media (min-width: 1000px) {
		padding: 0;
		padding-top: 68px;
		height: 100vh;
		flex-direction: row;
	}
}
.left {
	@media (min-width: 1000px) {
		padding-left: 30px;
		padding-top: 86px;
		width: 65%;
	}
	@media (min-width: 1500px) {
		padding-left: 154px;
	}
}
.img {
	position: relative;
	width: 100%;
	height: 210px;
	border-radius: 14px;
	overflow: hidden;
	margin-bottom: 28px;
	@media (min-width: 1000px) {
		height: 100%;
		width: 45%;
		border-radius: 0;
		margin-bottom: 0;
	}
}
.title {
	font-weight: 600;
	font-size: 28px;
	margin-bottom: 28px;
	@media (min-width: 1000px) {
		font-size: 40px;
		margin-bottom: 35px;
	}
}
.grid {
	display: grid;
	grid-row-gap: 18px;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 28px;
	@media (min-width: 1000px) {
		margin-bottom: 44px;
		grid-column-gap: 54px;
		grid-template-columns: 150px 120px;
	}
}
.gridText {
	font-size: 14px;
	font-weight: 500;
	@media (min-width: 1000px) {
		font-size: 16px;
	}
	span {
		color: var(--c-grey);
		display: inline-block;
		margin-left: 6px;
		font-weight: 400;
	}
}
.heading {
	font-weight: 600;
	margin-bottom: 16px;
	font-size: 18px;
	@media (min-width: 1000px) {
		font-size: 24px;
	}
}
.text {
	max-width: 500px;
	font-size: 14px;
	color: var(--c-grey);
	@media (min-width: 1000px) {
		font-size: 16px;
	}
}
.down {
	padding: 0;
	background-color: transparent;
	margin-top: 28px;
	width: 76px;
	height: 76px;
	position: relative;
	@media (min-width: 1000px) {
		width: 120px;
		height: 120px;
		margin-top: 90px;
	}
}
