.wrapper {
	background-color: var(--c-base);
	display: flex;
	align-items: center;
	padding: 0 16px;
	flex-direction: column;
	@media (min-width: 1000px) {
		padding: 0 30px;
		flex-direction: row;
		height: 310px;
	}
	@media (min-width: 1500px) {
		padding: 0 154px;
	}
}
.left,
.right {
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 30px 0;
	@media (min-width: 1000px) {
		width: 50%;
		padding: 0;
	}
}
.icon {
	position: relative;
	width: 36px;
	height: 24px;
}
.sub {
	font-weight: 400;
	margin-bottom: 20px;
	font-size: 14px;
	@media (min-width: 1000px) {
		margin-bottom: 26px;
		font-size: 16px;
	}
}
.heading {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
	@media (min-width: 1000px) {
		font-size: 28px;
		margin-bottom: 26px;
	}
}
.right {
	align-items: flex-end;
	border-top: 1px solid rgba(#fff, 0.4);
	@media (min-width: 1000px) {
		border-top: none;
		border-left: 1px solid rgba(#fff, 0.4);
	}
}
.iconRight {
	transform: rotate(180deg);
}
