.wrapper {
	background: #fff;
	border-radius: 20px;
	padding: 30px 16px 40px;
	margin-bottom: 60px;
	@media (min-width: 1000px) {
		border-radius: 20px 0 0 20px;
		display: flex;
		align-items: center;
		margin: 100px 0;
		margin-left: 30px;
		padding: 34px 0;
	}
	@media (min-width: 1500px) {
		margin-left: 154px;
	}
}
.left {
	@media (min-width: 1000px) {
		padding: 48px 0;
		padding-left: 78px;
	}
}
.text {
	max-width: 410px;
	font-weight: 400;
	color: var(--c-grey);
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 34px;
	@media (min-width: 1000px) {
		margin-bottom: 42px;
		text-align: left;
		font-size: 18px;
		margin: 0;
		margin-bottom: 34px;
	}
}
.btn {
	width: 230px;
	height: 56px;
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background: var(--c-orange);
	margin: 0 auto;
	margin-bottom: 50px;
	@media (min-width: 1000px) {
		margin: 0;
	}
}
.grid {
	margin-left: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 36px;
	@media (min-width: 1000px) {
		grid-row-gap: 50px;
		width: 50%;
		padding-right: 100px;
	}
}
.img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.title {
	font-weight: 700;
	font-size: 28px;
	text-align: center;
	margin-bottom: 26px;
	@media (min-width: 1000px) {
		margin-bottom: 42px;
		font-size: 40px;
		text-align: left;
	}
}
