.circle
	stroke-dasharray: 52px
	stroke-dashoffset: 52px
	animation-duration: 3s
	animation-timing-function: linear
	animation-iteration-count: 1
	animation-fill-mode: forwards
.swiper-pagination-bullet-active .circle
	animation-name: strokeFill	
@keyframes strokeFill
	from
		stroke-dashoffset: 52px
	to
		stroke-dashoffset: 0px
@keyframes spin
	to
		transform: rotate(359deg)
.spinner
	content: ''
	border-radius: 999px
	display: block
	width: 20px
	height: 20px
	border: 3px solid rgba(255, 255, 255, 0.5)
	border-left-color: #fff
	border-top-color: #fff
	animation: spin 0.6s infinite linear
.fade-enter
	opacity: 0
.fade-enter-active
	opacity: 1
	transition: opacity 300ms
.fade-exit
	opacity: 1
.fade-exit-active
	opacity: 0
	transition: opacity 300ms
.error-page
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	padding-left: 16px
	padding-right: 16px
	padding-bottom: 80px
	padding-top: 140px
	@media (min-width: 1000px)
		padding-left: 0
		padding-right: 0
		padding-bottom: 100px
		padding-top: 164px
	h1
		font-size: 28px
		font-weight: 600
		@media (min-width: 1000px)
			font-size: 48px
	span
		font-weight: 700
		color: var(--c-orange)
		font-size: 40vw
		@media (min-width: 1000px)
			font-size: 310px