@font-face
	font-family: "Suisse Intl"
	src: url("/fonts/SuisseIntl-Regular.woff") format('woff')
	font-weight: 400
@font-face
	font-family: "Suisse Intl"
	src: url("/fonts/SuisseIntl-Medium.woff") format('woff')
	font-weight: 500
@font-face
	font-family: "Suisse Intl"
	src: url("/fonts/SuisseIntl-SemiBold.woff") format('woff')
	font-weight: 600
@font-face
	font-family: "Suisse Intl"
	src: url("/fonts/SuisseIntl-Bold.woff") format('woff')
	font-weight: 700
