.img {
	position: relative;
	width: 100%;
	height: 210px;
	@media (min-width: 1000px) {
		height: 470px;
	}
}
.wrapper {
	padding-top: 44px;
	padding-bottom: 62px;
	@media (min-width: 1000px) {
		padding: 100px 30px 0;
	}
	@media (min-width: 1500px) {
		padding-left: 154px;
		padding-right: 154px;
	}
}
.title {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 44px;
	padding: 0 16px;
	@media (min-width: 1000px) {
		font-size: 28px;
		padding: 0 100px;
		margin-bottom: 55px;
	}
}
.inner {
	background-color: #fff;
	padding-bottom: 20px;
}
.textWrp {
	padding: 32px 16px 56px;
	@media (min-width: 1000px) {
		padding: 70px 100px 86px;
	}
}
.text {
	font-size: 14px;
	font-weight: 400;
	@media (min-width: 1000px) {
		font-size: 18px;
	}
}
.dash {
	width: 40px;
	height: 4px;
	background: var(--c-base);
	margin: 34px 0;
}
.sub {
	margin-bottom: 34px;
	font-size: 18px;
	font-weight: 500;
	@media (min-width: 1000px) {
		font-size: 24px;
	}
}
.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 17px;
	padding-right: 28px;
	@media (min-width: 1000px) {
		justify-content: flex-end;
	}
}
.prev,
.next {
	padding: 0;
	background: transparent;
}
.prev img {
	transform: rotate(180deg);
}
.pagination {
	position: static;
	width: auto;
	margin: 0 24px;
	font-size: 24px;
	font-weight: 600;
	:global(.swiper-pagination-current) {
		color: var(--c-orange);
	}
}
