.wrapper {
	background-color: #fff;
	display: flex;
	position: relative;
	flex-direction: column-reverse;
	padding: 124px 16px 45px;
	@media (min-width: 1000px) {
		padding: 0;
		min-height: 100vh;
		align-items: center;
		flex-direction: row;
	}
	&:before {
		@media (min-width: 1000px) {
			content: '';
			width: 45%;
			height: 80vh;
			position: absolute;
			right: 0;
			bottom: 0;
			background: var(--c-orange);
		}
	}
}
.videoWrp {
	background: #eee;
	width: 100%;
	height: 220px;
	border-radius: 10px;
	@media (min-width: 1000px) {
		width: 660px;
		height: 376px;
		border-radius: 14px;
	}
}
.left {
	padding-top: 72px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: 1000px) {
		width: 45%;
		padding-top: 0;
		display: block;
		padding-left: 30px;
	}
	@media (min-width: 1500px) {
		padding-left: 154px;
	}
}
.left,
.right {
	position: relative;
	z-index: 1;
}
.logo {
	position: relative;
	width: 100%;
	max-width: 183px;
	height: 39px;
	margin-bottom: 27px;
	@media (min-width: 1000px) {
		max-width: 255px;
		height: 53px;
		margin-bottom: 80px;
	}
}
.title {
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	@media (min-width: 1000px) {
		text-align: left;
		font-size: 40px;
		max-width: 456px;
	}
}
