.overlay {
	position: fixed;
	z-index: 1400;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#000, 0.5);
	transition: 0.3s ease;
	opacity: 0;
	visibility: hidden;
	&:global(.show-overlay) {
		visibility: visible;
		opacity: 1;
	}
}
.wrapper {
	position: fixed;
	z-index: 1500;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	max-width: 540px;
	width: 100%;
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow-y: auto;
	transition: 0.4s ease;
	transform: translateX(100%);
	&:global(.menu-open) {
		transform: translateX(0);
	}
}
.closeBtn {
	padding: 0;
	background-color: transparent;
	position: absolute;
	z-index: 1;
	right: 24px;
	top: 24px;
}
.nav {
	margin-top: 100px;
	margin-bottom: 80px;
	a {
		display: block;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 34px;
		transition: 0.3s ease;
		&:global(.active),
		&:hover {
			color: var(--c-orange);
		}
	}
}
.btn {
	width: 260px;
	height: 56px;
	border-radius: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--c-orange);
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.text {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
}
.social {
	display: inline-block;
	margin: 0 12px;
}
